$font-main: 'Average Sans', sans-serif;
$font-quet: 'Merriweather', serif;
$font-title: 'Open Sans', sans-serif;
$font-cite: 'Work Sans', sans-serif;

$card-content-border: #596B86;
$blue-100: #F6FCFA;
$blue-500: #B1BED0;
$blue-800: #3667ad;
$white: #ffffff;
$black: #000000;
$h2-clr:  #353637;
$h3-clr:  #131313;
$main-text: #959595;


$container-width: 1140px;
$wrap-width: 1440px;