.hero {
    background-color: #EAEFF6;

    &__inner {
        min-height: 100vh;
        display: flex;
        padding-top: 95px;
    }

    &__content {
        max-width: 470px;
        align-self: center;
    }

    &__title {
        font-weight: 600;
        color: #3D4550;
        margin-bottom: 16px;
    }

    &__text {
        margin-bottom: 36px;
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 54px;
        flex-wrap: wrap;
    }

    &__image {
        position: relative;
        flex-grow: 1;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;


    }

    &__image-circel {
        position: absolute;
        top: 10%;
        max-width: 540px;
        width: 100%;
        padding-top: 80%;
        border-radius: 50%;
        background: #F6FCFA;
        box-shadow: -5px 0px 39px rgba(118, 118, 118, 0.08);

        span {
            position: absolute;
            display: block;
            border-radius: 50%;
            background-color: $blue-500;
            opacity: 0.7;
        }

        span:nth-child(1) {
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
        }

        span:nth-child(2) {
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;
        }

        span:nth-child(3) {
            right: 0;
            bottom: 20px;
            width: 30px;
            height: 30px;
        }
    }

    &__build {
        z-index: 2;
        object-fit: cover;
    }
}

@media(max-width: 992px) {
    .hero {
        &__inner {}

        &__content {
            min-width: 100%;
            text-align: center;
        }

        &__btns {
            justify-content: center;
        }

        &__image {
            display: none;
        }
    }
}

@media(max-width: 768px) {
    .hero {
        &__inner {
            padding-top: 66px;
        }

        &__title {
            font-size: 35px;
        }

        &__text {
            font-size: 16px;
        }
    }
}