<section class="blog section">
    <div class="container">
        <div class="blog__heading">
            <span class="blog__section-description">hotel blog</span>
            <h2 class="blog__title title">Our News</h2>
        </div>
        <div class="blog__cards">
            <article class="card-blog">
                <a class="card-blog__image" href="#">
                    <img class="card-blog__img" src="./images/blog/1.jpg" width="350" height="316" alt="img">
                </a>
                <div class="card-blog__body">
                    <div class="card-blog__row">
                        <div class="card-blog__col">
                            <svg class="card-blog__icon" width="20" height="20">
                                <use xlink:href="./images/sprite.svg#icon-travel"></use>
                            </svg>
                            Travel
                        </div>
                        <div class="card-blog__col">
                            <svg class="card-blog__icon" width="20" height="16">
                                <use xlink:href="./images/sprite.svg#icon-comment"></use>
                            </svg>
                            2 Comment
                        </div>
                    </div>
                    <h3 class="card-blog__title">How To Travel With Map</h3>
                    <p class="card-blog__text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <a class="card-blog__link-more" href="#">
                        Read More
                        <svg class="card-blog__icon-arrow" width="22" height="10">
                            <use xlink:href="./images/sprite.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
            </article>
            <article class="card-blog">
                <a class="card-blog__image" href="#">
                    <img class="card-blog__img" src="./images/blog/2.jpg" width="350" height="316" alt="img">
                </a>
                <div class="card-blog__body">
                    <div class="card-blog__row">
                        <div class="card-blog__col">
                            <svg class="card-blog__icon" width="20" height="20">
                                <use xlink:href="./images/sprite.svg#icon-travel"></use>
                            </svg>
                            Travel
                        </div>
                        <div class="card-blog__col">
                            <svg class="card-blog__icon" width="20" height="16">
                                <use xlink:href="./images/sprite.svg#icon-comment"></use>
                            </svg>
                            2 Comment
                        </div>
                    </div>
                    <h3 class="card-blog__title">Single Contrast Room</h3>
                    <p class="card-blog__text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <a class="card-blog__link-more" href="#">
                        Read More
                        <svg class="card-blog__icon-arrow" width="22" height="10">
                            <use xlink:href="./images/sprite.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
            </article>
            <article class="card-blog">
                <a class="card-blog__image" href="#">
                    <img class="card-blog__img" src="./images/blog/3.jpg" width="350" height="316" alt="img">
                </a>
                <div class="card-blog__body">
                    <div class="card-blog__row">
                        <div class="card-blog__col">
                            <svg class="card-blog__icon" width="20" height="20">
                                <use xlink:href="./images/sprite.svg#icon-travel"></use>
                            </svg>
                            Travel
                        </div>
                        <div class="card-blog__col">
                            <svg class="card-blog__icon" width="20" height="16">
                                <use xlink:href="./images/sprite.svg#icon-comment"></use>
                            </svg>
                            2 Comment
                        </div>
                    </div>
                    <h3 class="card-blog__title">Luxery Twin Room</h3>
                    <p class="card-blog__text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <a class="card-blog__link-more" href="#">
                        Read More
                        <svg class="card-blog__icon-arrow" width="22" height="10">
                            <use xlink:href="./images/sprite.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
            </article>
        </div>
    </div>
</section>