<section class="check section">
    <div class="container">
        <div class="check__heading">
            <h1 class="check__title title">Check Availability</h1>
            <p class="check__section-description">
                It is a long established fact that a reader will be distracted by the readable content of a page.
            </p>
        </div>
        <div class="check__inner">
            <div class="check__image">
                <img class="check__img" src="./images/check.png"  alt="img">
            </div>
            <form class="check__form">
                <label class="check__label">
                    <span class="check__name-input">CHECK-IN</span>
                    <input class="check__field" type="date">
                </label>
                <label class="check__label">
                    <span class="check__name-input">CHECK-OUT</span>
                    <input class="check__field" type="date">
                </label>
                <label class="check__label">
                    <span class="check__name-input">GUESTS:</span>
                    <select class="check__field">
                        <option value="">1 Room</option>
                        <option value="">2 Room</option>
                        <option value="">3 Room</option>
                    </select>
                </label>
                <button class="check__submit" type="submit">check availability</button>
            </form>
        </div>
    </div>

</section>