<section class="contacts section">

    <div class="contacts__inner">
        <div class="contacts__item">
            <a class="contacts__logo logo" href="#">
                <img class="logo__img" src="./images/logo.png" width="30" height="46" alt="logo">
                <span class="logo__text">hotel</span>
            </a>
            <p class="contacts__text">
                Itawa is a responsive real estate landing page template.Itawa is a landing page template.Itawa
                template.
            </p>
        </div>
        <div class="contacts__item">
            <h3 class="contacts__sub-title">Contact Us</h3>
            <address class="contacts__address">
                <p class="contacts__address-item">
                    <svg class="contacts__icon-address" width="13" height="18">
                        <use xlink:href="./images/sprite.svg#icon-location"></use>
                    </svg>
                    123 Business Centre London SW1A 1AA
                </p>
                <p class="contacts__address-item">
                    <svg class="contacts__icon-address" width="16" height="15">
                        <use xlink:href="./images/sprite.svg#icon-tel"></use>
                    </svg>
                    +1 0000 000 00
                </p>
                <p class="contacts__address-item">
                    <svg class="contacts__icon-address" width="17" height="11">
                        <use xlink:href="./images/sprite.svg#icon-mail"></use>
                    </svg>
                    info@businessname.com
                </p>
                <div class="contacts__messager">
                    <a class="contacts__messager-item" href="#"
                        style="background-image: url('./images/icons/icon-facebook.svg');">
                        <span class="sr-only">facebook</span>
                    </a>
                    <a class="contacts__messager-item" href="#"
                        style="background-image: url('./images/icons/icon-instagram.svg');">
                        <span class="sr-only">instagram</span>
                    </a>
                    <a class="contacts__messager-item" href="#"
                        style="background-image: url('./images/icons/icon-twitter.svg');">
                        <span class="sr-only">twitter</span>
                    </a>
                </div>
            </address>
        </div>
        <div class="contacts__item contacts__item--messager">
            <h3 class="contacts__sub-title">Follow Us</h3>
            <div class="contacts__messager">
                <a class="contacts__messager-item" href="#"
                    style="background-image: url('./images/icons/icon-facebook.svg');">
                    <span class="sr-only">facebook</span>
                </a>
                <a class="contacts__messager-item" href="#"
                    style="background-image: url('./images/icons/icon-instagram.svg');">
                    <span class="sr-only">instagram</span>
                </a>
                <a class="contacts__messager-item" href="#"
                    style="background-image: url('./images/icons/icon-twitter.svg');">
                    <span class="sr-only">twitter</span>
                </a>
            </div>
            <p class="contacts__text">
                Itawa is a responsive real estate landing page template.Itawa is a landing page template.Itawa
                template.
            </p>
        </div>
    </div>

</section>