<section class="customers section">
    <div class="container">
        <div class="customers__heading">
            <h2 class="customers__title title">Our Happy Customers</h2>
            <p class="customers__section-description">
                Know about our clients, we are a woldwide corporate brand
            </p>
        </div>

        <div class="customers__row">

            <blockquote class="customers__item">
                <div class="customers__avatar">
                    <img class="customers__avatar-img" src="./images/customers/wade.png" width="80" height="75"
                        alt="img">
                </div>
                <cite class="customers__name">Wade Warren</cite>
                <span class="customers__work">Louis Vuitton</span>
                <p class="customers__text">
                    Necessary to deliver white glove,
                    fully managed campaigns that surpass
                    industry benchmarks.Take your career
                    to next level.
                </p>
            </blockquote>

            <blockquote class="customers__item">
                <div class="customers__avatar">
                    <img class="customers__avatar-img" src="./images/customers/vince.png" width="80" height="75"
                        alt="img">
                </div>
                <cite class="customers__name">Albert Florise</cite>
                <span class="customers__work">Nintendo</span>
                <p class="customers__text">
                    Necessary to deliver white glove,
                    fully managed campaigns that surpass
                    industry benchmarks.Take your career
                    to next level.
                </p>
            </blockquote>

            <blockquote class="customers__item">
                <div class="customers__avatar">
                    <img class="customers__avatar-img" src="./images/customers/jenny.png" width="80" height="75"
                        alt="img">
                </div>
                <cite class="customers__name">Jenny Wilson</cite>
                <span class="customers__work">Bank of America</span>
                <p class="customers__text">
                    Necessary to deliver white glove,
                    fully managed campaigns that surpass
                    industry benchmarks.Take your career
                    to next level.
                </p>
            </blockquote>


        </div>


    </div>
</section>