<section class="hero section">
    <div class="container">
        <div class="hero__inner">
            <div class="hero__content">
                <h1 class="hero__title title">
                    Discover a hotel that defies a new dimension of luxury.
                </h1>
                <p class="hero__text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy.
                </p>
                <div class="hero__btns">
                    <a class="hero__link-started btn" href="#">Get Started</a>
                    <a class="hero__link-watch btn-play" href="#">
                        <span class="btn-play__circel-play">
                            <svg class="btn-play__icon-play" width="12" height="20">
                                <use xlink:href="./images/sprite.svg#icon-play"></use>
                            </svg>
                        </span>
                        Watch video
                    </a>
                </div>
            </div>
            <div class="hero__image">
                <span class="hero__image-circel">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <img class="hero__build" src="./images/build.jpg" width="320" height="559" alt="build">
            </div>
        </div>
    </div>
</section>