<section class="history section">
    <div class="container">
        <div class="history__inner">
            <div class="history__content">
                <h2 class="history__title title">
                    Discover Our History
                </h2>
                <div class="history__text">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy.
                    </p>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable.
                    </p>
                </div>
                <div class="history__btns">
                    <a class="history__link btn" href="#">Explore More</a>
                    <a class="history__link-watch btn-play" href="#">
                        <span class="btn-play__circel-play">
                            <svg class="btn-play__icon-play" width="12" height="20">
                                <use xlink:href="./images/sprite.svg#icon-play"></use>
                            </svg>
                        </span>
                        Watch video
                    </a>
                </div>
            </div>
            <a class="history__image" href="#">
                <span class="sr-only">Video of our success story</span>
                <span class="history__circel-play">
                    <svg class="history__icon-play" width="30" height="30">
                        <use xlink:href="./images/sprite.svg#icon-play"></use>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</section>