<section class="services section">
    <div class="container">
        <div class="services__heading">
            <p class="services__section-description">our services</p>
            <h2 class="services__title title">Hotel Facilities</h2>
        </div>
        <ul class="services__list">
            <li class="services__item">
                <div class="services__top">
                    <h3 class="services__sub-title">Pick up & Drop</h3>
                    <svg class="services__icon" width="55" height="53">
                        <use xlink:href="./images/sprite.svg#icon-pick"></use>
                    </svg>
                </div>
                <p class="services__text">
                    It is a long established fact that a reader will be distracted by the readable content of a page.
                </p>
            </li>
            <li class="services__item">
                <div class="services__top">
                    <h3 class="services__sub-title">Parking Space</h3>
                    <svg class="services__icon" width="55" height="50">
                        <use xlink:href="./images/sprite.svg#icon-parking"></use>
                    </svg>
                </div>
                <p class="services__text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </li>
            <li class="services__item">
                <div class="services__top">
                    <h3 class="services__sub-title">Room Services</h3>
                    <svg class="services__icon" width="55" height="50">
                        <use xlink:href="./images/sprite.svg#icon-service"></use>
                    </svg>
                </div>
                <p class="services__text">
                    It is a long established fact that a reader will be distracted by the readable content of a page.
                </p>
            </li>
            <li class="services__item">
                <div class="services__top">
                    <h3 class="services__sub-title">Swimming Pool</h3>
                    <svg class="services__icon" width="55" height="53">
                        <use xlink:href="./images/sprite.svg#icon-swimming"></use>
                    </svg>
                </div>
                <p class="services__text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </li>
            <li class="services__item">
                <div class="services__top">
                    <h3 class="services__sub-title">Fibre Internet</h3>
                    <svg class="services__icon" width="55" height="50">
                        <use xlink:href="./images/sprite.svg#icon-fibre"></use>
                    </svg>
                </div>
                <p class="services__text">
                    It is a long established fact that a reader will be distracted by the readable content of a page.
                </p>
            </li>
            <li class="services__item">
                <div class="services__top">
                    <h3 class="services__sub-title">Breakfast</h3>
                    <svg class="services__icon" width="55" height="50">
                        <use xlink:href="./images/sprite.svg#icon-breakfast"></use>
                    </svg>
                </div>
                <p class="services__text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </li>
        </ul>
    </div>
</section>